@import url(fonts.css);

:root {
  /* Colors */
  /* https://colordesigner.io/color-name-finder */
  /* Using NTC color namings */
  --parchment: #f3eed9;
  --ironstone: #824936;
  --shark: #222c2a;
  --white: #fff;
}

/* Layout */
/* ------ */
/*
- maximum width of a "container" is 1128px
- in the very first section try setting a min-height of 660px and using
what we’ve covered in flexbox to center the content vertically
*/

/* General styling */
/* --------------- */

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

.no-margin {
  margin: 0;
}

.container {
  max-width: 1128px;
  margin: 0 auto;
}

.row {
  display: flex;
  justify-content: space-between;
  gap: 3em;
}

.col {
  /* these are now flex items */
  width: 100%;
}

/* Page styling */
/* ------------ */

body {
  margin: 0;
  color: var(--shark);
}

header {
  background-color: var(--parchment);
}

section {
  padding: 4em 0;
}

img { 
  width: 100%;
}

/* Header Hero */

.hero {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  min-height: 100svh;
}

.hero > h1 {
  text-align: center;
  color: var(--ironstone);
}

.hero > h2 {
  letter-spacing: 0.35em;
}

/* First Section */

/* .first-section {
  background-color: var(--white);
} */

.first-section__title {
  margin: 0 auto;
  color: var(--ironstone);
}

/* Second Section */

.second-section {
  background-color: var(--shark);
  color: var(--white);
}

.second-section__title {
  color: var(--parchment);
}

/* Third Section */

.third-section {
  background-color: var(--ironstone);
  color: var(--white);
}

.third-section__title {
  color: var(--parchment);
}
